.ThisShareableLink{
    padding: 10px 10px;
    width: 100%;
}

.ShareableLinkContainer{
    display: flex;
    flex-direction: column;
    min-height: 230px;
    width: 100%;
    background-color: transparent;
    color: white;
    box-shadow: 0px 0px 1px #888888;
    transition-duration: 0.2s;
    overflow: hidden;
}
.ShareableLinkContainer:hover,
.ShareableLinkContainer:focus{
    box-shadow: 0px 0px 5px #888888;
}

.ShareableLink{
    display: flex;
    align-items: center;
    left: 0;
    color: black;
    padding: 15px 0;
}

.link{
    border: solid 1px;
    width: 100%;
    padding: 7px 0;
}

.CopyButton{
    display: flex;
    align-items: center;
    left: 0;
    color: black;
    padding: 15px 0;
}

@media only screen and (min-width: 501px){

    .ShareableLinkContainer{
        width: 500px;
    }

    .ThisShareableLink{
        width: inherit;
    }
}