.surveys{
    display: flex;
    padding-left: 4px;
    justify-content: left;
    align-items: left;
}

.SurveyDiv{
    width: 100%;
}

.SurveyContainer{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.centerTheItems{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.userearninglabel{
    padding: 0 20px;
}

.pageContentContainer{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.SurveyAndVideoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}

@media only screen and (min-width: 501px){

    .surveys{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SurveyContainer{
        font-size: 1rem;
    }

    .SurveyDiv{
        max-width: 1200px;
    }

    .profilePicDivContainer{
        box-shadow: 0px 0px 0px #888888;
    }
    
    .userearninglabel{
        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .UserStatusContainer{
        width: 400px;
        box-shadow: 0px 0px 2px #888888;
    }
}