.Account{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.AccountContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.PointsDetail{
    display: flex;
    flex-flow: column;
    height: 300px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 4px #888888;
}

.row{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.verticalCenter{
    justify-content: center;
}

.horizentalCenter{
    align-items: center;
}

.center{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.row h6{
    padding: 0px 15px;
}